<md-dialog aria-label="Mango (Fruit)">
   <fieldset>
  <legend>Personalia:</legend>
  Name: <input type="text"><br>
  Email: <input type="text"><br>
  Date of birth: <input type="text">
 </fieldset>
    <div class="orden">
        <form name="myForm" ng-submit="">
            <div class="sosInformation">
                <div class="header">
                    <div class="header row">
                        <div class="col-md-12">
                            <h3>ORDEN DE TRABAJO</h3>
                            {{jesus}}
                            <hr class="style16">
                        </div>
                    </div>
                </div>
                <div class="informationSection">
                    <div class="inforSec row">
                        <div class="col-md-12">
                            ID de SOS:
                        </div>
                        <div class="col-md-4">
                            Fecha:
                            <input  class="form-control" type="date">
                        </div>
                        <div class="col-md-3">
                            Hora:
                            <input class="form-control col-lg-2"type="time">
                        </div>
                        <div class="col-md-5">
                          Operador:
                          <select ng-model="det.detalle.empleadoN" ng-options="e as e.nombreEmpleado for e in operador track by e.idEmpleado" class="form-control">
                                    <option value="">--Elige--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="informantSection">
                        <div class="panel panel-default">
                            <div class="panel-heading has-feedback">
                                <h4 class="panel-title">Instrucción</h4>
                                <i class="glyphicon glyphicon-user form-control-feedback"></i>
                            </div>
                            <div class="panel-body">
                                 <textarea class="form-control desc" placeholder="detalle instrucción..." ng-model="det.detalle.comentario" rows="3"></textarea>
                            </div>
                        </div>
                </div>
                
                <div class="report">
                    <div class="panel panel-default">
                        <div class="panel-heading has-feedback">
                            <h4 class="panel-title">Reporte</h4>
                            <i class="glyphicon glyphicon-user form-control-feedback"></i>
                        </div>
                        <div class="panel-body">
                            <h5>Hora:</h5>
                            <input type="time">
                            <br>
                            <br>
                            <textarea class="form-control desc" placeholder="detalle el reporte..." ng-model="det.detalle.comentario" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-5"></div>
              <div class="col-md-4"><button type="submit" class="btn btn-primary">Guardar</button></div>
              <div class="col-md-3"></div>
            </div>
        </form>
    </div>
</md-dialog>